<% provide(:title, 'About') %>
	<h1>About Collaborist</h1>
	<p>We have always taken risks, working on startups of our own or other's. Each time we’ve done it because we believe in the project’s idea and potential. One thing we’ve learned is having a collaborator is invaluable. That’s where we come in, Colaborist is simply a place for you to post a need or find something to work on. This is not a classified site or a place to find someone to work on your fart app for cheap. It is a place to find a partner, someone who will share in the work and the spoils of a project on equal footing. So go on take a look around, sign up if you’re interested, and please give us any feedback you may have.</p>

