<div class="center hero-unit">
	<h1>Collaborist</h1>
	
	<h2>This is the future home for the new Collaborist.me</h2>
	<%= link_to "Sign up now !", signup_path, class: "btn btn-large btn-primary" %>
</div>