<li>
	<%= link_to user.name, user %>
	<% if current_user.admin? && !current_user?(user) %>
		<div class="btn delete"><%= link_to "delete", user, method: :delete, data: { confirm: "You are about to delete a user, are you sure?" } %></div>
	<% end %>
</li>