<% provide(:title, @user.name) %>

<div class="row">
	<aside class="span 4">
		<section>
			<h1><%= @user.name %></h1>
			<h2><%= @user.email %></h2>
			Joined: <%= @user.created_at %>
		</section>
	</aside>
</div>